@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,900;1,400&display=swap");

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

body {
  font-family: 'Product Sans', serif;
  * {
    font-family: 'Product Sans', serif;
  }
}

body,
* {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
}
