body,
* {
  font-family: "Product Sans", sans-serif;
  font-weight: normal;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.border-test {
  border: 1px solid red;
}

.icon {
  width: 20px;
  height: 20px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.pointer {
  cursor: pointer;
}
