body,
* {
  font-family: "Product Sans", sans-serif;
  font-weight: normal;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.border-test {
  border: 1px solid red;
}

.icon {
  width: 20px;
  height: 20px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.pointer {
  cursor: pointer;
}

button,
input {
  outline: none;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: none !important;
  }
}

.patientButton {
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  &:hover {
    transform: translateY(-2px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border: 1px dashed #3bb7ab;
    border-radius: 0.5rem;
  }
}

.testing-height {
  height: 400px;
}
